



@keyframes slideLeftAndFadeIn {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-85%);
  }
}

@keyframes slideRightAndFadeIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
