



@keyframes slideLeftAndFadeIn {
  0% {
    transform: translateX(0%) !important;
  }
  30% {
    transform: translateX(-85%) !important;
  }
}

@keyframes slideRightAndFadeIn {
  0% {
    transform: translateX(0) !important;
  }
  100% {
    transform: translateX(20%) !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes bouncingHero {
    0% {
        top: 0;
    }
    50% {
        top: 25%;
    }
    100% {
        top: 0;
    }
    
}